{% extends "base.html" %}

{% block internal_css %}
<style>
    body {
        overflow-x: hidden;
        background: var(--brand-bg);
    }

    #wrapper {
        min-height: calc(100vh - 4.25rem);
    }
</style>
{% block additional_styles %}{% endblock %}
{% endblock %}

{% block content %}
<div id="wrapper">
    <main id="content">
        <div class="row">
            <div class="col-12">
                {% for message in get_flashed_messages(request) %}
                <div class="alert alert-{{ message.type }}" role="alert">{{ message.message }}</div>
                {% endfor %}
            </div>
        </div>

        {% block subpage_content %}{% endblock %}
    </main>
</div>

{% block subpage_scripts %}{% endblock %}
{% endblock %}
